
   body {
   	background-image:url('http://3.bp.blogspot.com/-kzymW3ItBMo/T5Swgf7nc2I/AAAAAAAAFGc/03hDtKt4Mnw/s1600/Goofy%2BMusical%2BNotes.jpg')
   	}
    #experiment {
      -webkit-perspective: 800;
      -webkit-perspective-origin: 50% 200px;

      -moz-perspective: 800;
      -moz-perspective-origin: 50% 200px;
    }

    #cube {
      position: relative;
      margin: 100px auto 0;
      height: 400px;
      width: 400px;
      -webkit-transition: -webkit-transform 2s linear;
      -webkit-transform-style: preserve-3d;

      -moz-transition: -moz-transform 2s linear;
      -moz-transform-style: preserve-3d;
    }

    .face {
      position: absolute;
      height: 360px;
      width: 360px;
      padding: 20px;
      background-color: red;
      font-size: 37px;
      font-family: Impact;
      line-height: 1em;
      color: #fff;
      border: 2px solid #555;
      border-radius: 3px;
    }

    #cube .one  {
      -webkit-transform: rotateX(90deg) translateZ(200px);
      -moz-transform: rotateX(90deg) translateZ(200px);
    }

    #cube .two {
      -webkit-transform: translateZ(200px);
      -moz-transform: translateZ(200px);
    }

    #cube .three {
      -webkit-transform: rotateY(90deg) translateZ(200px);
      -moz-transform: rotateY(90deg) translateZ(200px);
    }

    #cube .four {
      -webkit-transform: rotateY(180deg) translateZ(200px);
      -moz-transform: rotateY(180deg) translateZ(200px);
    }

    #cube .five {
      -webkit-transform: rotateY(-90deg) translateZ(200px);
      -moz-transform: rotateY(-90deg) translateZ(200px);
    }

    #cube .six {
      -webkit-transform: rotateX(-90deg) rotate(180deg) translateZ(200px);
      -moz-transform: rotateX(-90deg) rotate(180deg) translateZ(200px);
    }